body {
   font-family: Abel, sans-serif;
   background-color: black;
   padding: 0;
   margin: 0 auto;
   max-width: 100%;
   max-height: 100%;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;

}

.wrapper {
   margin: 0 auto;
   background: url(../public/img/background-image.png);
   max-width: 1920px;
   height: 660px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;


}


.inner-wrapper {

   margin: 0 auto;
}


.header {
   width: 100%;
   padding: 20px 0;


   .header-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }






   ul {
      display: flex;


      li {
         color: #fff;
         margin: 0 40px 0 0;
         font-weight: 300;
         font-size: 20px;
         cursor: pointer;

         &:hover {
            opacity: 0.7;

         }

         &:last-child {
            margin: 0;
         }
      }


   }
}


.content {



   .left {

      margin: 80px 0;

      h1 {
         font-size: 25px;
         background: linear-gradient(100deg, #ffffff 10%, #ff3f04 90%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         display: inline-block;
         margin: 0 0 100px 0;

         span {
            font-weight: 100;
            font-size: 70px;
            font-weight: 700;
         }
      }

      .button-start {
         padding: 10px 25px;
         color: #fff;
         background-color: transparent;
         font-size: 14px;
         font-weight: 100;
         border: solid transparent;

         border-style: solid;
         border-width: 1px;
         border-image-source: linear-gradient(50deg, #263e66, #09213d, #111f2d, #23599c);
         border-image-slice: 1;

         &:hover {
            border-image-source: linear-gradient(150deg, #263e66, #09213d, #111f2d, #23599c);
            transition: 0.3s ease-in-out, transform 0.2s ease-in-out;

         }
      }
   }
}